* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* button: color, background color , font size, font weight, button ở giữa, padding, border, border radius */
/* chữ đậm >500, <500 chữ nhạt */

.button {
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  background-color: #201b53;
  font-size: 18px;
  font-weight: 600;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* không, nó là đường viền, ẩn nó đi */
  border: none;
  /* 8 16 24 px */
  border-radius: 16px;
  transition: all 0.3s linear;
}

/* transition sinh ra để giảm độ delay khi hover */
/* transition: all 0.3s linear : hiệu ứng sẽ tồn tại trong 0.3s */
.button:hover {
  /* khi hover vào button ta thường giảm opacity xuống, và để  hình con trỏ chuột pointer */
  opacity: 0.8;
  cursor: pointer;
  /* nghệ sỉ: khi hover button sẽ to lên*/
  transform: scale(1.1);
  /* phải dùng javascript */
}

/* # để css cho id  button class ="" id -> #*/
/* hover: vào sẽ ra 1 con trỏ chuột*/
.CSS:hover {
  color: red;
  transition: all 0.3s linear;
  cursor: pointer;
}
/* border: 1px(kích thước) solid (nét liền) gray (màu sắc) */
/* set lại chiều rộng cho item, vì item hiện tại border rộng toàn màn hình rồi */
.item {
  border: 1px solid #8080802e;
  width: 400px;
}
.Name {
  padding-left: 20px;
  padding-top: 20px;
}
.desc {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
/* hover vào item thì ảnh sẽ scale 1.1  */
.item:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}
