body {
  font-family: "Rubik", sans-serif;
}
.container {
  width: 1140px;
  margin: auto;
}

/* align-items, justify-content */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.lists {
  /* gap: tạo khoảng cách giữa các cột */
  display: flex;
  gap: 20px;
}

li {
  /* bỏ dấu (.) trong thẻ li*/
  list-style: none;
}
.buttons {
  display: flex;
  gap: 20px;
}
/* code 2 button cho giống là đc */
/* trên figma có font size font weight color hết rồi */
.B1 {
  font-weight: 500;
  font-size: 16px;
  color: #0b132a;
}
.B2 {
  font-weight: 500;
  font-size: 16px;
  color: #f53855;
  border: 1px solid #f53855;
  border-radius: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 45px;
  padding-right: 45px;
}
